<h1>New House Page</h1>

<!-- house form goes here -->
<form action="/houses" method="POST">
  <label>Address: </label>
  <input type="text" name="house[address]"><br>
  <% @candies.each do |candy| %>
    <input type"checkbox" value="<%=candy.id%>" name="house[candies][]">
  <% end %>
  <input type="submit" name="Submit">
</form>
